div{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

mat-card-header{
    text-align: left;
}

.example-card {
    max-width: 400px;
}

mat-card{
    margin: auto;
}